
    <nav class="navbar" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a routerLink="/about">Accueil</a></li>
                <li><a routerLink="/produit">Nos Produit</a></li>
                <li><a routerLink="/about">A propos</a></li>
                <li><a routerLink="/contact">Contactez nous</a></li>
                
            </ul>
            <h1 class="logo">Navbar</h1>
        </div>
       
    <a routerLink="/cart"><mat-icon matBadge="15" matBadgeColor="primary">shopping_cart</mat-icon> </a>&nbsp;
       <a  routerLink="/Auth"> <mat-icon>person</mat-icon></a>

    </nav>
