
<nav class="titre">
    <div></div>
    <a href="index.php"><span>Accueil
    </span></a>/
    <span>Contactez-nous
    </span>
    </nav>  
    <br> 
    <div style="left: 150px;">
    
    </div>
    <div style="right: 150px;">
    <img src="img/service-client" alt="">
    </div>
    <div class="information" style="width: 90%; margin-left: 70px;">
        <div style="border: 1px solid  #b1b0b0;width: 25%;" (scroll)="onscroll1()" [ngClass]="navbarfixed1?'fixed':'nofixed'">
            <div style="margin-left: 10px;margin-top:10px;">
                <h5>Informations de magasin</h5>
                <mat-icon>room</mat-icon>Tunise
                    <hr style="width: 90%;">
                    <mat-icon> email</mat-icon><h6>Envoyez-nous un email:</h6>
                    sahbighofrane5@gmail.com
            </div>
            </div>
        </div>
            <div style="margin-right:90px;" class="service">
                <div style="border: 1px solid #b1b0b0; width:70%;float:right;">
            <img src="assets/img/contact2.jpg" alt="" style="width: 96%; margin-left: 20px; margin-top: 20px;">
            <h4 style="text-align: center;">Comment Nous Contactez</h4>
            <hr style="width: 90%;margin-left: 20px;">
            <div style="float:left;width:100%;">

</div>
<div style="float:left;width:30%;border-right:1px solid rgb(160, 155, 155);height:50px;display:inline-block;font-family: cursive;  text-align: center;">
    <mat-icon>phone_in_talk</mat-icon> <h6> 216 31.000.000</h6>

</div>
<div style="float:left;width:30%;border-right:1px solid rgb(160, 155, 155);height:50px;display:inline-block;font-family: cursive;  text-align: center;
">
    <mat-icon>phone_in_talk</mat-icon> <h6> 216 31.000.000</h6>
</div>
<div style="float:left;width:30%;  text-align: center;display:inline-bloc;font-family: cursive;">
    <mat-icon>phone_in_talk</mat-icon> <h6> 216 31.000.000</h6>
</div>

<hr style="width: 90%; margin-left: 20px;">
<h5 style="margin-left: 20px;">Contactez-nous</h5>


<div class="inner contact">
    <!-- Form Area -->
    <div class="contact-form">
        <!-- Form -->
        <form id="contact-us" method="post" action="#">
            <!-- Left Inputs -->
            <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                <!-- Name -->
                <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                <!-- Email --> <br>
                <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                <!-- Subject --> <br>
                <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
            </div><!-- End Left Inputs -->
            <!-- Right Inputs --> <br>
            <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                <!-- Message -->
                <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
            </div><!-- End Right Inputs -->
            <!-- Bottom Submit -->
            <div class="relative fullwidth col-xs-12">
                <!-- Send Button -->
                <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
            </div><!-- End Bottom Submit -->
            <!-- Clear -->
            <div class="clear"></div>
        </form>

        <!-- Your Mail Message -->
        <div class="mail-message-area">
            <!-- Message -->
            <div class="alert gray-bg mail-message not-visible-message">
                <strong>Thank You !</strong> Your email has been delivered.
            </div>
        </div>

    </div><!-- End Contact Form Area -->
</div><!-- End Inner -->

        <img src="assets/img/contact1.jpg" alt="" style="width:90%; margin-left:50px;">
        <br><br>
        </div>
    
           </div>