
 
<div class="container" style="width: 70%; float: right;">
    <div class="row">
    <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/smart.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;" onclick="changementDePage();">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/oppo.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/cat3.jpeg" alt=" ">
          <mat-card-content>
            <h5 style="text-align: center;font:bold #000;">Film De Protection D’écran Pour Galaxy Z Flip4</h5>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>


  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/pr15.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/smart.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/oppo.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/cat3.jpeg" alt=" ">
          <mat-card-content>
            <h5 style="text-align: center;font:bold #000;">Film De Protection D’écran Pour Galaxy Z Flip4</h5>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>


  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/pr15.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/smart.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/oppo.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/cat3.jpeg" alt=" ">
          <mat-card-content>
            <h5 style="text-align: center;font:bold #000;">Film De Protection D’écran Pour Galaxy Z Flip4</h5>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>


  <div class="col-3">
    <div class="card">
      <div class="card-image">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="assets/img/pr15.jpg" alt=" ">
          <mat-card-content>
            <h4 style="text-align: center;font:bold #000;">Samsung Galaxy Watch 5 Bluetooth</h4>
            <h5 style="text-align: center;font:bold #000;">699,000 Dt</h5>
            <h6 style="text-align: center;font:bold #b9b8b8;text-decoration:dashed;">1 399,000 DT</h6>
          </mat-card-content>
          <mat-card-actions>
            <a routerLink="/detail"><button type="submit" class="btn btn-danger mb-3" style="margin-left: 65px;">Ajouter au panier <mat-icon>add_shopping_cart</mat-icon></button></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>



</div>
</div>
<br><br><br><br>
<div class="Filtration" style="width: 25%; float:left; margin-left:10px;">
  <mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header style="background-color: #f5f5f5;">
        <mat-panel-title>
            <h5>Categorie</h5>
        </mat-panel-title>
        
      </mat-expansion-panel-header>
            <h6>
              Telephone
            </h6>
              <hr>
              <h6>
                Accessoires
              </h6>
</mat-expansion-panel>
  </mat-accordion>
  
</div>
<br><br><br><br>
<div class="Filtration" style="width: 25%; float:left; margin-left:10px;">
  <mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header style="background-color: #f5f5f5;">
        <mat-panel-title>
            <h5>FILTRES</h5>
        </mat-panel-title>
        
      </mat-expansion-panel-header>
      <section class="example-section" >
        <h4>Select your toppings:</h4>
        <p><mat-checkbox formControlName="pepperoni">30-40 Dt</mat-checkbox></p>
        <p><mat-checkbox formControlName="extracheese">50-60 Dt</mat-checkbox></p>
        <p><mat-checkbox formControlName="mushroom">70-80Dt</mat-checkbox></p>
        <p><mat-checkbox formControlName="mushroom">170-280Dt</mat-checkbox></p>
        <p><mat-checkbox formControlName="mushroom">370-480Dt</mat-checkbox></p>
      </section>
      
      
      
</mat-expansion-panel>
  </mat-accordion>
</div>


